/* Variables */
:root {
  --clr-white: hsl(0 0% 100%);
  --clr-black: hsl(0 0% 0%);
  --clr-primary-dark-gray: hsl(0 0% 55%);
  --clr-primary-very-dark-gray: hsl(0 0% 41%);
  --ff-main: "Alata", sans-serif;
  --ff-secondary: "Josefin Sans", sans-serif;
  --fw-300: 300;
  --fw-400: 400;
  --fs-main: 1rem;
  --fs-small: 1.125rem;
  --fs-medium: 1.5rem;
  --fs-large: 2rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: var(--ff-main);
  font-weight: var(--fw-400);
  text-align: center;
}

h1,
h2 {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-300);
  line-height: 1.1;
}

h2 {
  font-size: var(--fs-large);
}

.header {
  background-image: url(images/mobile/image-hero.jpg);
  background-size: cover;
  padding: 1em;
}
.header__title {
  border: 2px solid var(--clr-white);
  margin-block: 10em;
  padding: 1em;
  padding-right: 1.5em;
  color: var(--clr-white);
  max-width: 30ch;
  font-size: 1.2rem;
  text-align: left;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
  gap: var(--gap, 1em);
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav__link {
  text-decoration: none;
  color: var(--clr-white);
}
.nav__link:hover {
  text-decoration: underline;
}

.nav-toggle {
  display: none;
}

.illustration {
  margin-bottom: 1em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap, 2em);
}
.grid__card {
  display: grid;
  transition: opacity 150ms linear;
}
.grid__card:hover {
  opacity: 0.5;
}
.grid__image,
.grid .image-desc {
  grid-column: 1;
  grid-row: 1;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1em;
  grid-column: span 2;
}

.image-desc {
  color: var(--clr-white);
  width: 9ch;
  margin: 1rem;
  font-size: var(--fs-medium);
  font-family: var(--ff-secondary);
  line-height: 1.1;
  align-self: end;
  text-align: left;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: max-content;
  background-color: transparent;
  border: 1px solid var(--clr-black);
  letter-spacing: 5px;
  font-family: var(--ff-secondary);
  padding: 0.5em;
  padding-inline: 2em;
  margin-inline: auto;
  transition: all 200ms linear;
}
.btn:hover {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.btn,
.grid--title {
  grid-column: span 2;
}

.footer {
  background-color: var(--clr-black);
  padding-block: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.footer__first {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation__link {
  text-decoration: none;
  color: var(--clr-white);
}
.navigation__link:hover {
  text-decoration: underline;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1em;
  list-style: none;
  margin: 0;
  margin-top: 1em;
  padding: 0;
}

/* Utilites */
.uppercase {
  text-transform: uppercase;
}

.wrapper {
  padding-block: 4em;
  padding-inline: 2em;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.clr-gray {
  color: var(--clr-primary-dark-gray);
}

.bottom-margin {
  margin-bottom: 6em;
}

@media (max-width: 35em) {
  .logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
  }

  .nav-toggle {
    cursor: pointer;
    display: block;
    background-image: url(images/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    width: 1.5rem;
    aspect-ratio: 1;
    z-index: 1000;
  }

  .nav__list {
    position: fixed;
    inset: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--clr-black);
    font-size: var(--fs-small);
    padding-left: 2rem;
    transform: translateX(100%);
    transition: transform 200ms ease-in-out;
  }

  .nav__link {
    text-transform: uppercase;
    font-family: var(--ff-secondary);
  }

  .nav__list[data-visible=true] {
    transform: translateX(0);
  }

  .nav-toggle[aria-expanded=true] {
    background-image: url(images/icon-close.svg);
    position: fixed;
  }

  .logo[aria-expanded=true] {
    position: fixed;
  }
}
@media (min-width: 55em) {
  .header {
    background-image: url(images/desktop/image-hero.jpg);
    background-position: center;
  }
  .header__title {
    margin-block: 4em;
    margin-left: 8em;
  }

  .wrapper {
    padding-inline: 10em;
  }

  .nav {
    padding-block: 1em;
    padding-inline: 10em;
  }

  .parent {
    position: relative;
  }
  .parent__on-image {
    position: absolute;
    width: 40ch;
    bottom: 1rem;
    right: 2rem;
    text-align: left;
    padding-top: 3em;
    padding-left: 3em;
    background-color: var(--clr-white);
  }

  .btn,
.grd--title {
    grid-row: 1;
    margin: 0;
  }

  .grid--title {
    justify-self: start;
  }

  .btn {
    grid-column: 2;
    justify-self: end;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 10em;
  }
  .footer__first {
    align-items: flex-start;
  }

  .navigation {
    flex-direction: row;
  }

  .socials {
    margin-bottom: auto;
  }
  .socials > * {
    width: 1.5rem;
    aspect-ratio: 1;
  }
  .socials__link {
    position: relative;
  }
  .socials__link:hover::after {
    content: "";
    position: absolute;
    border: 1px solid var(--clr-white);
    width: 1.5rem;
    bottom: -2rem;
    left: -0.75rem;
  }
}

/*# sourceMappingURL=style.css.map */
